.carousel-item img {
    object-fit: cover;
    width: 700px;
    height: 500px;
  }

  #titulo{
    font-family: 'PT Serif', serif;
    margin-top: 20px;
    text-align: center;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-style: normal;
    line-height: 1.5;
    text-align: justify;
    color: black;
}